@use './partials/variables' as *;

$fa-font-path: "../fonts/webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

.img-card {
    width: 100%;
    height: calc(100wv/3);
    object-fit: cover;
}

h1 {
    color: $text-color;
}

.character-card {
    border: 2px solid red;
    margin: 5px;
}

.bg-pers {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(107, 0, 31, 1) 64%);
    height: 96.5vh;
    margin-top: -25px;
    padding-top: 25px;
}

.input {
    border: 0px;
    border-radius: 0px;
    border-bottom: 2px solid black;
}

.items-img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    cursor: pointer;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%
    }
}

td>.img-card {
    width: 150px;
}
.logo_boolcraft{
    width:300px;
    height:100px;
    object-fit:cover;
    img{
        width:100%;
        height:100%;
    }
}
.img-wrapper{
    width:180px;
    height:130px;
    margin:0 auto;
    overflow:hidden;
    img{
        width:100%;
        height:100%;
        object-fit:contain;
    }
}